


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #ee760c;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #bebfc7;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
.book {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}
.book img {
    height: 10px;
    width: 10 px;
    height: auto;
}
.cart {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
}
